@import '../../../styles/_colors.styl'

:host > .course {
  padding: 10px 0;
  border-bottom: 5px solid colors.primary-color;
}

.top-course-star {
  display: none;
}

.top-course {
  border-top-style: solid;
  border-top-width: 5px;

  .top-course-star {
    display: inline;
    color: colors.accent-color;
  }
}
