@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../styles/_colors.styl';

:host {
  position: relative;
  display: block;
}

main {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: colors.primary-text-color;
  display: block;
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
