<div class="col-xs-12">
  <h2>Edit</h2>
  <form class="col-xs-12 top-buffer-2">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required />
    </div>
    <div class="form-group">
      <label for="duration">Duration (min)</label>
      <input type="number" class="form-control" id="duration" required />
    </div>
    <div class="form-group">
      <label for="createdAt">Creation date</label>
      <input type="date" class="form-control" id="createdAt" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description"></textarea>
    </div>
  </form>
</div>
